<h1>Products</h1>
<div class="card">
  <div class="card-head">Lorem ipsum dolor - product 1</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, tenetur est. Hic eum cum excepturi aut nobis ratione harum laudantium veniam delectus repellat atque, voluptatem aliquam reprehenderit quas obcaecati. Cumque.
  </div>
</div>
<div class="card">
  <div class="card-head">Lorem ipsum dolor - product 2</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, tenetur est. Hic eum cum excepturi aut nobis ratione harum laudantium veniam delectus repellat atque, voluptatem aliquam reprehenderit quas obcaecati. Cumque.
  </div>
</div>
